
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


venv/
env/


.env
*.env


playwright-report/
test-results/
*.log



.idea/


.DS_Store
Thumbs.db

allure-results/
allure-report/

*.egg-info/
dist/
build/

# Playwright storage state
auth.json
*.auth.json
storage_state*.json
